<% posts.each do |post| %>
<div class="row border mb-3">
  <div class="col">
    <div class="row p-2 border m-2">
      <div class="col">
        <div class="row">
          <span class="mr-4">
            <%= link_to root_path do %>
              ♡0
            <% end %>
          </span>
          <span class="mr-4">
            コメント数：
            <%= link_to my_post_path(post) do %>
              <%= post.post_comments.count %>
            <% end %>
          </span>
          <span>作成日時：<%= post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
        </div>
        <div class="row">
          <div class="col px-4 pt-2">
            <div class="row">
              <%= safe_join(post.sentence.split("\n"),tag(:br)) %>
            </div>
            <div class="row justify-content-end">
              <% if post.is_edited == true %>
              <span class="mr-2"><%= post.updated_at.strftime('%Y/%m/%d %H:%M') %></span>
                <span class="text-right">(編集済み)</span>
              <% end %>
            </div>
            <div class="row">
              <!--投稿に画像がある場合は表示させる-->
              <% if post.image_id.attached? %>
                <%= image_tag post.image_id, class: "img-fluid" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>