<% posts.each do |post| %>
<div class="row border mb-2">
  <div class="col">
    <div class="row p-2">
      <div class="col">
        <div class="row">
          <div class="col-1 mr-3">
            <div class="row">
              <!--投稿者のアイコン-->
              <%= render "public/posts/post_member_icon", post: post %>
            </div>
          </div>
          <div class="col-10">
            <div class="row d-flex align-items-center">
              <b class="mr-4">
                <!--投稿者のニックネーム-->
                <%= render "public/posts/post_member_nickname", post: post %>
              </b>
              <span class="mr-4">
                <!--フォローボタン-->
                <%= render "public/relationships/follow", post: post %>
              </span>
              <span><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
              <span>
                <% if post.is_edited == true %>
                  （編集済み）
                <% end %>
              </span>
            </div>
            <% if current_member.id == post.member_id %>
            <!--現メンバーが投稿者の場合-->
              <%= link_to my_post_path(post.id) do %>
                <div class="row">
                  <div class="col">
                    <div class="row text-dark">
                      <%= safe_join(post.sentence.split("\n"),tag(:br)) %>
                    </div>
                    <div class="row">
                      <!--投稿に画像がある場合は表示させる-->
                      <% if post.image_id.attached? %>
                        <%= image_tag post.image_id, class: "img-fluid" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
            <!--現メンバーが投稿者ではない場合-->
              <%= link_to your_post_path(post.id) do %>
                <div class="row">
                  <div class="col">
                    <div class="row text-dark">
                      <%= safe_join(post.sentence.split("\n"),tag(:br)) %>
                    </div>
                    <div class="row">
                      <!--投稿に画像がある場合は表示させる-->
                      <% if post.image_id.attached? %>
                        <%= image_tag post.image_id, class: "img-fluid" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2 offset-1">
            <% if current_member.id == post.member_id %>
            <!--現メンバーが投稿者の場合-->
              <%= link_to my_post_path(post.id) do %>
                <!--コメントのアイコン・コメント数-->
                <span class="text-muted">
                  <i class="far fa-comment-alt"></i>
                  <%= post.post_comments.count %>
                </span>
              <% end %>
            <% else %>
            <!--現メンバーが投稿者ではない場合-->
              <%= link_to your_post_path(post.id) do %>
                <!--コメントのアイコン・コメント数-->
                <span class="text-muted">
                  <i class="far fa-comment-alt"></i>
                  <%= post.post_comments.count %>
                </span>
              <% end %>
            <% end %>
          </div>
          <div class="col-2">
            <!--いいねのアイコン・いいね数-->
            <% if current_member.nickname == "merindsゲスト" %>
              <a href="#" class="text-dark" data-toggle="modal" data-target="#favoriteModal">
                <i class="far fa-heart"></i>
                <%= post.favorites.count %>
              </a>
            <% else%>
              <%= render "public/favorites/favorites_icon", post: post %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>