<% posts.each do |post| %>
<div class="row border mb-3">
  <div class="col">
    <div class="row p-2 border m-2">
      <div class="col">
        <div class="row d-flex align-items-center">
          <% if current_member.id != post.member_id %>
          <!--現メンバーが投稿者ではない場合-->
            <%= link_to your_page_path(post.member) do %>
              <span class="mr-3"><%= image_tag post.member.get_member_image(50,50) %></span>
              <span class="mr-4"><%= post.member.nickname %></span>
            <% end %>
          <% else%>
          <!--現メンバーが投稿者の場合-->
            <span class="mr-3"><%= image_tag post.member.get_member_image(50,50) %></span>
            <span class="mr-4"><%= post.member.nickname %></span>
          <% end %>
          <span class="mr-4">
            <% if current_member.id != post.member_id %>
            <!--現メンバーが投稿者ではない場合-->
              <!--フォローしている場合のif文-->
              <%= link_to "フォロー", root_path, class: "btn btn-primary" %>
              <!--フォローしてない場合のelse-->
              <!--フォロー中-->
            <% end %>
          </span>
          <span class="mr-4">
            <% if post.favorited_by?(current_member) %>
            <!--現ユーザーが投稿のfavoritesテーブル内に存在する(いいね済)場合-->
              <%= link_to favorites_create_path(post), method: :delete do %>
                <span class="text-danger">
                  <i class="fas fa-heart"></i>
                  <%= post.favorites.count %>
                </span>
              <% end %>
            <% else %>
              <%= link_to favorites_create_path(post), method: :post do %>
                <span class="text-dark">
                  <i class="far fa-heart"></i>
                  <%= post.favorites.count %>
                </span>
              <% end %>
            <% end %>
          </span>
          <span class="mr-4">
            <%= link_to my_post_path(post) do %>
              <span class="text-muted">
                <i class="far fa-comment-alt"></i>
                <%= post.post_comments.count %>
              </span>
            <% end %>
          </span>
          <span>作成日時：<%= post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
        </div>
        <div class="row">
          <div class="col px-4 pt-2">
            <div class="row">
              <%= safe_join(post.sentence.split("\n"),tag(:br)) %>
            </div>
            <div class="row justify-content-end">
              <% if post.is_edited == true %>
              <span class="mr-2"><%= post.updated_at.strftime('%Y/%m/%d %H:%M') %></span>
                <span class="text-right">(編集済み)</span>
              <% end %>
            </div>
            <div class="row">
              <!--投稿に画像がある場合は表示させる-->
              <% if post.image_id.attached? %>
                <%= image_tag post.image_id, class: "img-fluid" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>