<div class="row">
  <div class="col">
    <h4 class="mt-2 mb-4">投稿詳細</h4>
    <div class="row border mb-3">
      <div class="col">
        <div class="row p-2 border m-2">
          <div class="col">
            <div class="row">
              <span class="mr-4">
                <% if post_show.favorited_by?(current_member) %>
                <!--現ユーザーが投稿のfavoritesテーブル内に存在する(いいね済)場合-->
                  <%= link_to favorites_create_path(post_show), method: :delete do %>
                    <i class="fas fa-heart"></i>
                    <%= post_show.favorites.count %>
                  <% end %>
                <% else %>
                  <%= link_to favorites_create_path(post_show), method: :post do %>
                    <i class="far fa-heart"></i>
                    <%= post_show.favorites.count %>
                  <% end %>
                <% end %>
              </span>
              <span class="mr-4">
                <i class="fas fa-comment-alt"></i>
                <%= post_show.post_comments.count %>
              </span>
              <span class="mr-4">作成日時：<%= post_show.created_at.strftime('%Y/%m/%d %H:%M') %></span>
              <span class="mr-4">
                <%= link_to "投稿編集", posts_edit_path(post_show), class: "btn btn-success" %>
              </span>
              <span class="mr-4">
                <%= link_to "投稿削除", posts_destroy_path(post_show), method: :delete, data: {confirm: "投稿を削除してもよろしいですか？"}, class: "btn btn-danger" %>
              </span>
            </div>
            <div class="row">
              <div class="col px-4 pt-2">
                <div class="row">
                  <%= safe_join(post_show.sentence.split("\n"),tag(:br)) %>
                </div>
                <div class="row justify-content-end">
                  <% if post_show.is_edited == true %>
                  <span class="mr-2"><%= post_show.updated_at.strftime('%Y/%m/%d %H:%M') %></span>
                    <span class="text-right">(編集済み)</span>
                  <% end %>
                </div>
                <div class="row">
                  <!--投稿に画像がある場合は表示させる-->
                  <% if post_show.image_id.attached? %>
                    <%= image_tag post_show.image_id, class: "img-fluid" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h4>コメント</h4>
          <div class="row">
            <div class="col p-2">
              <% post_show.post_comments.each do |post_comment| %>
                <div class="row border ml-3 mr-1 p-3 mb-3">
                  <div class="col">
                    <div class="row d-flex align-items-center">
                      <span class="mr-3"><%= image_tag post_comment.member.get_member_image(50,50) %></span>
                      <span class="mr-4"><%= post_comment.member.nickname %></span>
                      <span class="mr-4"><%= post_comment.created_at.strftime('%Y/%m/%d %H:%M') %></span>
                      <span>
                        <!--現メンバーがコメント作成者であれば削除できるようにする-->
                        <% if member == current_member %>
                          <%= link_to "コメント削除", post_comments_destroy_path(post_comment.post_id, post_comment.id), method: :delete, data: {confirm: "コメント削除してもよろしいですか？"}, class: "btn btn-danger" %>
                        <% end %>
                      </span>
                    </div>
                    <div class="row pt-3 pl-2">
                      <%= post_comment.comment %>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="row  ml-3 mr-1 py-3">
                <div class="col">
                  <h4 class="mt-1 mb-3">コメントを書く</h4>
                  <%= form_with model: [post_comment], url: post_comments_create_path(post_show) do |f| %>
                    <%= f.text_area :comment, style: "width:100%; height:150px", placeholder: "コメントをここに入力してください" %><br>
                    <div class="text-right mt-2">
                      <%= f.submit '投稿', class: "btn btn-info", style: "width:100px" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>