<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <%= render "public/shared/left_screen", member: @member, post: @post %>
    </div>
    <div class="col-8 pr-5">
      <div class="row">
        <div class="col">
          <h4 class="mt-2 mb-4">投稿編集</h4>
          <div class="row border mb-3">
            <div class="col">
              <div class="row p-2 border m-2">
                <div class="col">
                  <div class="row">
                    <span class="mr-4">
                      ♡0
                    </span>
                    <span class="mr-4">
                      コメント数：
                      0
                    </span>
                  </div>
                  <%= form_with model: @post_show, url: posts_update_path(@post_show.id) do |f| %>
                  <div class="row">
                    <div class="col px-4 pt-2">
                      <%= f.text_area :sentence, style: "width:100%; height:100px" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center py-2">
                      <%= f.submit "編集内容を保存", class: "btn btn-success", style: "height:45px" %>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
              <h4>コメント</h4>
                <div class="row">
                  <div class="col p-2">
                    <!--↓↓コメント機能実装時に修正↓↓-->
                    each文を記述
                    <div class="row border ml-3 mr-1 p-3">
                      <div class="col">
                        <div class="row d-flex align-items-center">
                          <span class="mr-3"><%= image_tag @member.get_member_image(50,50) %></span>
                          <span class="mr-4">コメントをした人</span>
                        </div>
                        <div class="row pt-3 pl-2">
                          投稿のコメント
                        </div>
                      </div>
                    </div>
                    eachのend
                    <!--↑↑コメント機能実装時に修正↑↑-->
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>