<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <%= render "public/shared/left_screen", member: @member, post: @post, favorite_posts: @favorite_posts %>
    </div>
    <div class="col-8">
      <div class="row mt-2 mr-2">
        <div class="col">
          <h3>投稿一覧</h3>
          <% @posts.each do |post| %>
          <div class="row border mb-2">
            <div class="col">
              <div class="row p-2">
                <div class="col">
                  <div class="row">
                    <div class="col-1 mr-3">
                      <div class="row">
                        <% if current_member.id == post.member_id %>
                        <!--投稿者が現メンバーの場合-->
                          <%= link_to my_page_path do %>
                            <!--投稿者のアイコン-->
                            <%= image_tag post.member.get_member_image(50,50), class: "rounded-circle" %>
                          <% end %>
                        <% else %>
                          <!--投稿者が現メンバーではない場合-->
                          <%= link_to your_page_path(post.member.nickname) do %>
                            <!--投稿者のアイコン-->
                            <%= image_tag post.member.get_member_image(50,50), class: "rounded-circle" %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-10">
                      <div class="row d-flex align-items-top">
                        <b class="mr-4">
                          <% if current_member.id == post.member_id %>
                          <!--投稿者が現メンバーの場合-->
                            <%= link_to my_page_path, class: "text-dark" do %>
                              <!--投稿者のアイコン-->
                              <%= post.member.nickname %>
                            <% end %>
                          <% else %>
                            <!--投稿者が現メンバーではない場合-->
                            <%= link_to your_page_path(post.member.nickname), class: "text-dark" do %>
                              <%= post.member.nickname %>
                            <% end %>
                          <% end %>
                        </b>
                        <span><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
                        <span>
                          <% if post.is_edited == true %>
                            （編集済み）
                          <% end %>
                        </span>
                      </div>
                      <%= link_to your_post_path(post.id) do %>
                        <div class="row">
                          <div class="col">
                            <div class="row text-dark">
                              <%= safe_join(post.sentence.split("\n"),tag(:br)) %>
                            </div>
                            <div class="row">
                              <!--投稿に画像がある場合は表示させる-->
                              <% if post.image_id.attached? %>
                                <%= image_tag post.image_id, class: "img-fluid" %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-2 offset-1">
                      <!--コメントのアイコン・コメント数-->
                      <%= link_to my_post_path(post) do %>
                        <span class="text-muted">
                          <i class="far fa-comment-alt"></i>
                          <%= post.post_comments.count %>
                        </span>
                      <% end %>
                    </div>
                    <div class="col-2">
                      <!--いいねのアイコン・いいね数-->
                      <% if post.favorited_by?(current_member) %>
                      <!--現ユーザーが投稿のfavoritesテーブル内に存在する(いいね済)場合-->
                        <%= link_to favorites_create_path(post), method: :delete do %>
                          <span class="text-danger">
                            <i class="fas fa-heart"></i>
                            <%= post.favorites.count %>
                          </span>
                        <% end %>
                      <% else %>
                        <%= link_to favorites_create_path(post), method: :post do %>
                          <span class="text-dark">
                            <i class="far fa-heart"></i>
                            <%= post.favorites.count %>
                          </span>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="mx-auto"><%= paginate @posts %></div>
      </div>
    </div>
  </div>
</div>