<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <%= render "public/shared/left_screen", member: @member_for_left, post: @post, favorite_post: @favorite_post, member_posts: @member_posts %>
    </div>
    <div class="col-9">
      <div class="row mt-2 mr-2">
        <div class="col">
          <div class="row">
            <h3 style="background-color: rgba(169, 169, 169, 0.5)">投稿詳細</h3>
          </div>
          <div class="row">
            <div class="col">
              <!--投稿情報-->
              <div class="row p-2 rounded border">
                <div class="col">
                  <div class="row">
                    <div class="col-1 mr-3">
                      <div class="row">
                        <!--投稿者のアイコン-->
                        <%= render "public/posts/post_member_icon", post: @post_show %>
                      </div>
                    </div>
                    <div class="col-10">
                      <div class="row d-flex align-items-center">
                        <b class="mr-4">
                          <!--投稿者のニックネーム-->
                          <%= render "public/posts/post_member_nickname", post: @post_show %>
                        </b>
                        <!--<span class="mr-4">-->
                          <!--フォローボタン-->
                        <!--  <%#= render "public/relationships/follow", member: @post_show.member %>-->
                        <!--</span>-->
                        <!--投稿作成日時-->
                        <span><%= @post_show.created_at.strftime('%Y/%m/%d %H:%M') %></span>
                        <span>
                          <!--投稿の編集した場合（編集済み）を記述-->
                          <% if @post_show.is_edited == true %>
                            （編集済み）
                          <% end %>
                        </span>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="row text-dark">
                            <%= safe_join(@post_show.sentence.split("\n"),tag(:br)) %>
                          </div>
                          <div class="row">
                            <!--投稿に画像がある場合は表示させる-->
                            <% if @post_show.image_id.attached? %>
                              <%= image_tag @post_show.image_id, class: "img-fluid" %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-2 offset-1">
                      <!--コメントのアイコン・コメント数-->
                      <%= render "public/post_comments/post_comment_icon", post: @post_show %>
                    </div>
                    <div class="col-2">
                      <!--いいねのアイコン・いいね数-->
                      <%= render "public/favorites/favorites_icon", post: @post_show %>
                    </div>
                  </div>
                </div>
              </div>
              <!--/投稿情報-->
              <!--コメント一覧・コメント投稿フォーム-->
              <%= render "public/post_comments/post_comment", post: @post_show, post_comment: @post_comment %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>