<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <%= render "public/shared/left_screen", member: @member, posts: @posts, post: @post %>
    </div>
    <div class="col-8">
      <div class="row">
        <h4 class="mt-2 mb-4">会員情報編集</h4>
      </div>
      <%= form_with model: @member, url: member_path(@member.id), method: :patch do |f| %>
      <div class="row">
        <div class="col">
          <div class="row mb-3">
            <div class="col-2">アイコン</div>
            <div class="col offset-1">
              <%= f.file_field :item_image, accept: "image/*"%>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-2">氏名</div>
            <div class="col-1">(姓)</div>
            <div class="col-3"><%= f.text_field :first_name %></div>
            <div class="col-1">(名)</div>
            <div class="col-3"><%= f.text_field :last_name %></div>
          </div>
          <div class="row mb-3">
            <div class="col-2">フリガナ</div>
            <div class="col-1">(セイ)</div>
            <div class="col-3"><%= f.text_field :first_name_kana %></div>
            <div class="col-1">(メイ)</div>
            <div class="col-3"><%= f.text_field :last_name_kana %></div>
          </div>
          <div class="row mb-3">
            <div class="col-2">メールアドレス</div>
            <div class="col offset-1"><%= f.text_field :email %></div>
          </div>
          <div class="row mb-3">
            <div class="col-2">ニックネーム</div>
            <div class="col offset-1"><%= f.text_field :nickname %></div>
          </div>
          <div class="row mb-3">
            <div class="col-2">自己紹介</div>
            <div class="col offset-1"><%= f.text_area :introduction, style: "width:80%; height:100px" %></div>
          </div>
          <div class="row mt-3">
            <div class="col offset-3">
              <%= f.submit "変更を保存", class: "btn btn-success" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>