<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <h4 class="mt-2 mb-4 ml-5" style="background-color: rgba(169, 169, 169, 0.5)">
          投稿一覧
        </h4>
      </div>
      <div class="row">
        <div class="col">
          <table class="table text-center">
            <thead>
              <th class="align-middle" style="width:6%">投稿ID</th>
              <th class="align-middle" style="width:40%">文章</th>
              <th class="align-middle" style="width:10%">画像</th>
              <th class="align-middle" style="width:8%">いいね数</th>
              <th class="align-middle" style="width:8%">コメント数</th>
              <th class="align-middle" style="width:10%">
                投稿者<br>
                (ニックネーム)
              </th>
              <th class="align-middle" style="width:5%">ｽﾃｰﾀｽ</th>
            </thead>
            <% @posts.each do |post| %>
            <tbody>
              <tr>
                <td class="align-middle">
                  <%= link_to admin_post_path(post.id) do %>
                    <%= post.id %>
                  <% end %>
                </td>
                <td class="align-middle text-left">
                  <%= post.sentence.truncate(35) %>
                </td>
                <td class="align-middle">
                  <% if post.image_id.attached? %>
                  <!--投稿に画像がある場合-->
                    <%= image_tag post.image_id, size: "100x100", class: "img-fluid" %>
                  <% else %>
                  <!--投稿に画像がない場合-->
                    なし
                  <% end %>
                </td>
                <td class="align-middle"><%= post.favorites.count%></td>
                <td class="align-middle"><%= post.post_comments.count%></td>
                <td class="align-middle">
                  <%= link_to admin_member_path(post.member_id) do %>
                    <%= post.member.nickname %>
                  <% end %>
                </td>
                <td class="align-middle">
                  <% if post.is_hidden == false %>
                    <b class="text-success">表示</b>
                  <% else %>
                    <b class="text-muted">非表示</b>
                  <% end %>
                </td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="mx-auto"><%= paginate @posts %></div>
      </div>
    </div>
  </div>
</div>