<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <h4 class="mt-2 mb-4 ml-5" style="background-color: rgba(169, 169, 169, 0.5)">
          コメント詳細
        </h4>
      </div>
      <div class="row">
        <div class="col offset-1">
          <%= render "public/shared/error", contents: @post_comment %>
        </div>
      </div>
      <div class="row">
        <div class="col-fluid ml-5" style="width:90%">
          <table class="table">
            <tr>
              <th style="width:20%">コメントID</th>
              <td><%= @post_comment.id %></td>
            </tr>
            <tr>
              <th>文章</th>
              <td><%= safe_join(@post_comment.comment.split("\n"),tag(:br)) %></td>
            </tr>
            <tr>
              <th class="align-middle">
                投稿者(ニックネーム)<br>
              　　　(氏名)
              </th>
              <td>
                <%= @post_comment.member.nickname %><br>
                (<%= @post_comment.member.first_name %> <%= @post_comment.member.last_name %>)
              </td>
            </tr>
            <tr>
              <th>ステータス</th>
              <td>
                <% if @post_comment.is_hidden == false %>
                <!--退会ステータスがtrueの場合-->
                  <b class="text-success">表示</b>
                <% else %>
                  <b class="text-muted">非表示</b>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="mx-auto">
          <%= link_to "コメント情報編集", edit_admin_post_post_comment_path(@post_comment.id), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>