<header class="border-bottom fixed-top" style="height:90px">
  <div class="container-fluid" style=" background-color: rgba(0, 112, 112, 1)">
    <div class="row align-items-center"><!--上下中央寄せ-->
      <!--ロゴ画像-->
      <%= link_to root_path, class: "btn" do %>
        <%= image_tag "logo.png", size: "150x60" %>
      <% end %>
        <div class="col pt-2">
          <div class="header_link">
            <div class="d-grid gap-2 d-md-block">
              <div class="float-right"><!--右寄せ-->
                <% if member_signed_in? && current_member.email == "guest@example.com" %>
                  <!--ゲストでログインしている場合-->
                  <span class="text-success">ゲストログイン中</span>
                  <%= link_to "About", about_path, class: "btn btn-dark mr-2" %>
                  <%= link_to "投稿一覧", index_your_posts_path, class: "btn btn-dark" %>
                  <%= link_to "グループ一覧(未)",root_path, class: "btn btn-dark" %>
                  <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "btn btn-dark" %>
                <% elsif member_signed_in? %>
                <!--メンバーでログインしている場合-->
                  <%= link_to "投稿一覧", index_your_posts_path, class: "btn btn-dark" %>
                  <%= link_to "会員一覧", members_path, class: "btn btn-dark" %>
                  <%= link_to "グループ一覧(未)",root_path, class: "btn btn-dark" %>
                  <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "btn btn-dark" %>
                <% elsif admin_signed_in? %>
                <!--管理者でログインしている場合-->
                <span class="text-danger">管理者ログイン中</span>
                  <%= link_to "投稿一覧", admin_posts_path, class: "btn btn-dark" %>
                  <%= link_to "会員一覧", admin_top_path, class: "btn btn-dark" %>
                  <%= link_to "グループ一覧(未)", root_path, class: "btn btn-dark" %>
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-dark" %>
                <% else %>
                <!--ログインしていない場合-->
                  <%= link_to "About", about_path, class: "btn btn-dark mr-2" %>
                  <%= link_to "新規登録", new_member_registration_path, class: "btn btn-dark mr-2" %>
                  <%= link_to "ログイン", new_member_session_path, class: "btn btn-dark" %>
                <% end %><br>
                <div class="my-2 text-right">
                  <!--検索機能、以下記述は未設定-->
                  <%= form_tag(searches_search_path,:method => 'get') do %>
                    <%= text_field_tag :search %>
                    <%= submit_tag 'Search', :name => nil %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>