<!DOCTYPE html>
<html>
  <head>
    <title>Merinds</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main class="py-2">
      <div style= "height: 90px; background-color: rgba(255, 255, 255, 1);"></div>
      <%= notice %>
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
