<!DOCTYPE html>
<html  class="h-100">
  <head>
    <title>Merinds</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= render "layouts/header" %>
    <main class="mt-3 py-4 flex-shrink-0" style="background-color: rgba(255, 255, 255, 1)">
      <div style= 'height: 65px; background-color: rgba(255, 255, 255, 1);'></div>
      <%= render "public/shared/modal" %>
      <%= yield %>
    </main>
    <!--<div style= 'height: 50px; background-color: rgba(255, 255, 255, 1);'></div>-->
    <%= render "layouts/footer" %>
  </body>
</html>
